gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Imzo kaliti va parol hech qachon git'ga tushmasin (GitHub Secrets / local seyf).
*.keystore
*.jks
key.properties
